.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 50px;
  margin: 50px;
}

body {
  background-color: rgba(224, 223, 223, 0.835);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controllers {
  display: grid;
  margin: 20px;
}

.controllers #break-label {
  grid-column: 1;
  grid-row: 1;
  margin-bottom: 20px;
}

.controllers #session-label {
  grid-column: 3;
  grid-row: 2;
}

.display {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.buttons {
  grid-column: 3;
  grid-row: 1 / 3;
}

footer {
  margin-top: 100px;
  margin-bottom: 1rem;
  font-size: 15px;
  color: rgb(149, 156, 156);
  grid-column: 2;
  grid-row: 2;
}
